{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<div id="main" class="justify-content-md-center mb-3">
    <canvas
        id="preview"
        height=720 width=1280
        class="mx-auto d-block rounded mb-3"
        style="background-image: url( {{ url_for('media_route', path=path) }})"
    ></canvas>
    
    <div class="input-group justify-content-md-center">
        <button class="btn btn-secondary me-md-4" onclick="clearCanvas()">Get preview</button>
        <button class="btn btn-danger me-md-4" onclick="clearCanvas()">Clean ROI</button>
        <button class="btn btn-success me-md-4" onclick="clearCanvas()">Set up ROI</button>
       
    </div>
</div>

<script>
    function clearCanvas() {
        ctx.clearRect(0, 0, 1280, 720); 
    }
    function drawPolygon() {
        var polygon = [[300, 710], [300, 350], [800, 350], [800, 710]];
        ctx.strokeStyle = "#39FF14";
        ctx.lineWidth = 5;

        ctx.beginPath();
        ctx.moveTo(polygon[0][0], polygon[0][1]);
        for(idx = 1; idx < polygon.length; idx += 1 ){
            let item = polygon[idx];
            ctx.lineTo(item[0] , item[1]);
        }
        ctx.closePath();
        ctx.stroke();

    }

    var canvas = document.getElementById("preview"),
    ctx = canvas.getContext("2d");
    drawPolygon();

</script>

{% endblock %}
